<div>
    <link rel="stylesheet" href="{{ vm.components.auth + 'signin.css' }}">
    <form class="form-signin" ng-submit="vm.signin()" name="authForm" novalidate>
        <h2 class="form-signin-heading">Sign In</h2>
        <p ng-show="vm.error" class="alert alert-danger">{{vm.error}}</p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" autocomplete="off" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block">Sign In</button>
    </form>
</div>